<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Aufgaben</h1><p>Versuche diese Aufgaben zu lösen. Daran kannst du zeigen, wie gut du schon mit deinen Ameisen umgehen kannst.</p>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <div style="height:40px"></div>
	    
	    <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">1) Erstes Zucker</h4>
          <p class="list-group-item-text">Du hast während einer Simulation 500 Zucker gesammelt.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">2) Erster Apfel</h4>
          <p class="list-group-item-text">Dein Ameisenvolk hat seinen ersten Apfel gesammelt.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">3) Wanzenausweicher</h4>
          <p class="list-group-item-text">Deine Ameisen können den Wanzen ausweichen.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">4) Zufallsmeisen</h4>
          <p class="list-group-item-text">Deine Ameisen bewegen sich zufällig über das Spielfeld.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">5) Viele Punkte</h4>
          <p class="list-group-item-text">Du hast während einer Simulation 5000 Punkte erreicht.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">6) Quadratmeisen</h4>
          <p class="list-group-item-text">Deine Ameisen können alle auf <a href="/images/quadrat.png">einem Quadrat</a> laufen.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">7) Großes Volk</h4>
          <p class="list-group-item-text">Dein Ameisenbau erreicht 80 Ameisen.</p>
        </div>
      </div>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
