<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Aufgaben</h1><p>Versuche diese Aufgaben zu lösen. Daran kannst du zeigen, wie gut du schon mit deinen Ameisen umgehen kannst.</p>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->
	    
	    <div style="height:40px"></div>
	    
	    <h2> Teil 1 </h2>
	    
	    <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">1) Erstes Zucker</h4>
          <p class="list-group-item-text">Du hast während einer Simulation 500 Zucker gesammelt.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">2) Erster Apfel</h4>
          <p class="list-group-item-text">Dein Ameisenvolk hat seinen ersten Apfel gesammelt.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">3) Wanzenausweicher</h4>
          <p class="list-group-item-text">Deine Ameisen können den Wanzen ausweichen.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">4) Zufallsmeisen</h4>
          <p class="list-group-item-text">Deine Ameisen bewegen sich zufällig über das Spielfeld.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">5) Viele Punkte</h4>
          <p class="list-group-item-text">Du hast während einer Simulation 5000 Punkte erreicht.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">6) Quadratmeisen</h4>
          <p class="list-group-item-text">Deine Ameisen können alle auf <a href="/images/quadrat.png">einem Quadrat</a> laufen.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">7) Großes Volk</h4>
          <p class="list-group-item-text">Dein Ameisenbau erreicht 80 Ameisen.</p>
        </div>
      </div>
	    
	    <div style="height:50px"></div>
      
      <h2> Teil 2 </h2>
      
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">1) Zucker-Gedächtnismeise</h4>
          <p class="list-group-item-text">Programmier eine Ameise, die folgendes Verhalten zeigt:<br>- Sie läuft herum<br>- Wenn Sie Zucker sieht, geht sie hin, nimmt sich welchen und merkt sich die Position<br>- Dann kehrt sie zum Bau zurück, ladet den Zucker ab und sendet eine Nachricht vom Typ "Zucker" (evtl mehrmals mit einer Wartezeit dazwischen)<br>- Wenn eine Ameise eine Nachricht von Typ "Zucker" empfängt, dann geht sie zur angegebenen Position<br><br>Bei der Bearbeitung helfen dir diese <a href="/images/schnipsel1.png">Code-Schnipsel.</a></p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">2) Apfel-Gedächtnismeise</h4>
          <p class="list-group-item-text">Programmier eine Ameise, die folgendes Verhalten zeigt:<br>- Sie läuft herum<br>- Wenn sie einen Apfel sieht, dann merkt sie sich die Position des Apfels und kehrt zum Bau zurück<br>- Dort sendet sie eine Nachricht vom Typ "Apfel" (evtl mehrmals)<br>- Wenn eine Ameise eine Nachricht vom Typ "Apfel" empfängt, dann geht sie zur angegebenen Position und trägt den Apfel<br><br>Bei der Bearbeitung helfen dir diese <a href="/images/schnipsel2.png">Code-Schnipsel.</a></p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">3) Mängelliste</h4>
          <p class="list-group-item-text">Die Ameise aus Aufgabe 2) hat einige schwerwiegende Mängel. Versuche sie zu formulieren.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">4) verbesserte Apfelmeise </h4>
          <p class="list-group-item-text">Programmier eine Ameise, die folgendes Verhalten zeigt:<br>- Sie läuft herum<br>- Wenn sie einen Apfel sieht, dann prüft sie, ob sie eine Trägerameise ist.<br>-- Wenn ja, dann geht sie zum Apfel, trägt ihn und entfernt sich als Trägerameise.<br>-- Ansonsten tut sie das wie Ameise 2)<br>- Wenn eine Ameise eine Nachricht vom Typ "Apfel" erhält, dann geht sie offen zum angegebenen Ort und setzt sich als Träger.<br><br>Bei der Bearbeitung helfen dir diese <a href="/images/schnipsel3.png">Code-Schnipsel.</a></p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">5) immer noch nicht perfekt</h4>
          <p class="list-group-item-text">Auch die verbesserte Apfelmeise kann an ein paar Stellen verbessert werden, z.B., dass weniger Ameisen sterben.</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">6) Allesmeise</h4>
          <p class="list-group-item-text">Entwickle eine Ameise, die sowohl Zucker als auch Äpfel sammelt und damit kommuniziert.</p>
        </div>
      </div>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
