
<%

function check(num) {
  if (num == highlightElement) {
    return 'class="active"'
  } else {
    return ''
  }
} %>


<ul class="nav nav-pills" role="tablist">
  <li role="presentation" <%-check(0)%>><a href="/">AntIT! Home</a></li>
  <li role="presentation" <%-check(1)%>><a href="/guide">Einführung</a></li>
  <li role="presentation" <%-check(2)%>><a href="/doku">Handbuch</a></li>
  <li role="presentation" <%-check(3)%>><a href="/chals">Aufgaben</a></li>
  <% if(user) {%>
  <li role="presentation"><a href="/logout">abmelden...</a></li>
  <% } %>
</ul>
