<!DOCTYPE HTML>
<html>
    <head>
      <% include commonHead %>
        <style>
            body { margin: 0}
            canvas { width:100%; height:100% }
        </style>
    </head>
    <body>
        <script src="js/THREE.js"></script>
        <script src="js/orbit.js"></script>
        <script src="js/tween.js"></script>
        <script src="js/stats.min.js"></script>
        <script src="src/Optionen.js"></script>
        <script src="src/3d.js"></script>
        <script src="src/Simulation.js"></script>
        <script src="src/SimPulse.js"></script>
        <div style="position: absolute; z-index: 1; left: 50px; bottom: 40px; width:400px; height:40px;font-size:1em;color:white;">
	<p>Maus: Links - drehen / Rechts - ziehen<br />Touch: Wischen - ziehen / lang tippen - drehen</p>
</div>

<div style="position: absolute; z-index: 3; right: 50px; top: 50px;font-size:1em;color:white;background-color:rgba(255,255,255,0.5);">
	<a href="/" class="btn btn-primary">zurück</a>
</div>
<script>
  function hide(){
    document.getElementById("hud").style.height = "25px";
    document.getElementById("collapse").innerHTML = '<a href="javascript:show()">[+]</a>';
  }
  function show(){
    document.getElementById("hud").style.height = "";
    document.getElementById("collapse").innerHTML = '<a href="javascript:hide()">[--]</a>';
  }
</script>

<div id="hud" style="position: absolute; z-index: 2; left: 50px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);overflow:hidden"></div>
<div id="collapse" style="position: absolute; z-index: 2; left: 20px; top: 50px;padding:4px;font-size:1em;font-family:arial;background-color:rgba(255,255,255,0.5);">
  <a href="javascript:hide()">[--]</a></div>

<div id="loading" style="position: absolute; z-index: 5;top: 100px;font-size:2em;color:white;">
	<span class="label label-default" id="intro-text">Simulationsfehler!</span>
</div>
<script>
<%
  var atLeastOnFile = false;
  if (code) {
    code.forEach(function(c){
      atLeastOnFile = true;
      %>(function(){<%-c.code%>})();<%
    });
  }

%>document.getElementById("intro-text").innerHTML = "Dateien werden geladen ...";<%

  if (!atLeastOnFile) {%>
    fehler("Keine Ameisen geladen!");
  <%} 

%>
var hash = "<%-hash%>";
AntJS.StarteSimulation();
window.onerror=fehler;
function fehler(msg){
 alert("MELDUNG\n" + msg);
 AntMe._abortSimulation();
}
AntJS.OnSubmit = function(points) {
  var request = new XMLHttpRequest();
  request.open("GET","/submit?hash=" + hash + "&points=" + points);
  request.addEventListener('load', function(event) {
     if (request.status >= 200 && request.status < 300) {
        if (request.responseText == "ok") {
          AntJS.SubmitFinished()
        }
     }
  });
  request.send();
}
</script>
    </body>
</html>

