<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Tutorial</h1><p>Lerne, wie man mit den Ameisen umgeht.</p>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->    
	    
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
