<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <a href=""><div class="jumbotron" style="background-image: url(deco/startseite.png);background-position: center top;background-repeat:no-repeat">
      </div></a>
	    
	    <br><br>
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:550px">
        
         <h2>Datenschutzerklärung</h2>
         
         <br><br>
         
         <h3>Persönliche Daten</h3>
         
         <p>Wir nehmen den Schutz deiner persönlichen Daten sehr ernst. Du kannst das Angebot von AntIT! nutzen, ohne personenbezogene Daten weiterzugeben. Die Registrierung funktioniert ohne Angabe einer E-Mail-Adresse, stattdessen gibt du ein selbstgewähltes Pseudonym an. Das stellt sicher, dass kein Missbrauch mit deinen personenbezogenen Daten stattfinden kann oder diese an Dritte weitergegeben werden. Außerdem wird dein Passwort verschlüsselt in der Datenbank gespeichert und kann technisch nicht ausgelesen werden (sondern  nur zur Anmeldung geprüft werden).
         </p>
         
         <h3>Server-Logs</h3>
         
         <p>Bei Nutzung dieser Websites erstellen wir teilweise Webserver-Protokolle, die Datum und Uhrzeit, den abgerufenen URL-Pfad, ggf. den Referrer sowie den verwendeten Browser enthalten; deine IP-Adresse wird dabei allerdings mittels IP-Masking anonymisiert, so dass uns keine personenbezogenen Daten vorliegen. 
         </p>
         
         <h3>Cookies</h3>
         
         <p>Wenn du dich bei AntIT! registrierst bzw. einloggst, setzt die Website einen Cookie mit einer Session-ID. Diese wird benötigt, um deinen Login-Status aufrechtzuerhalten und braucht keine gesonderte Einwilligung. Der Cookie wird beim Schließen des Browserfensters automatisch gelöscht. Ein Tracking findet damit nicht statt.
         </p>
         
         <h3>Accountdaten</h3>
         
         <p>Zur Verbesserung der Plattform können wir deinen Fortschritt, wie gelöste Quize und Aufgaben, analysieren und dadurch Statistiken erstellen. Falls Anhaltepunkte für eine rechtswidrige Nutzung der Plattform vorliegt, kann auch der Code deiner Ameisen geprüft werden.
         </p>
          
        </div>
      </div>
      
	    
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
 
