<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../commonHead %>
  </head>
  <body>


  <div class="container">

    <br><br><br>
    <a href="/nov">Kolonie 1</a><br>
    <a href="/main">Kolonie 2</a>
    <div style="height:300px"></div>
  </div>
  </body>
</html>
