<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>


  <div class="container">
  
    <div class="jumbotron">
      <h1 class="display-3">Erlebe AntIT!</h1>
      <p class="lead font-weight-normal">Steuere Ameisen, sammle Nahrung, k채mpfe gegen Wanzen. Tauche in die Welt der Informatik ein. Und lerne gleichzeitg das Programmieren.</p>
    </div>
    
    <div style="height:2rem"></div>
    
    <h2>Aktuelle Kolonien</h2>
    
    <ul class="list-group" style="max-width:350px">
	  <% for(var i = 0; i < colonies.length; i++) { %>
	    <% if (!colonies[i].active) continue %>
	    <li class="list-group-item py-2"><a href="/login/<%=colonies[i].colonyName%>"><%=colonies[i].description%></a></li>
	  <% } %>
	  </ul>
    
    <div style="height:11rem"></div>
    
    <h2>Bringe die Ameisen in Aktion</h2>
	  
	  <img class="img-thumbnail" src="/images/landing_img.png">
    
    <div style="height:13rem"></div>
    
    <h2>Schreibe Code</h2>
	  
	  <img class="img-thumbnail" src="/images/landing_code.png">
    
    <div style="height:13rem"></div>
    
    <h2>Lerne Schritt f체r Schritt</h2>
	  
	  <img class="img-thumbnail" src="/images/landing_tut.png">
    
    <div style="height:13rem"></div>
    
    <h2>Optimal f체r Klassen und Gruppen</h2>
	  
	  <img class="img-thumbnail" src="/images/landing_overview.png">
    
    <div style="height:3rem"></div>
    
    <div style="height:13rem"></div>
    
    <h2>Programmiersprache: JavaScript</h2>
    
    <h2>Empfohlenes Alter: ab 8. Jahrgangsstufe</h2>
    
    <h2>Keine Vorkenntnisse notwendig</h2>
    
    <div style="height:13rem"></div>
    
    <p>Version M채rz 2019
    </p>
    
    <div style="height:3rem"></div>
  </div>
  </body>
</html>
