<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/startseite.png);background-position: center top;background-repeat:no-repeat">
      </div>
	
	    <% include menu %>
	    
	    
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
        
          <br>
          <h2>Inhaltsüberblick</h2>
          <hr>
          
          <h3>Stufe 1</h3>
          
          <ul>
            <li>Neue Ameisen erstellen und bearbeiten</li>
            <li>Bestandteile eines Programms: Ameisendefinition, Ereignisdefinition, Anweisungen</li>
            <li>Ereignis <code>"IstGeboren"</code></li>
            <li>Grundlegende Befehle: <code>Gehe(schritte)</code>, <code>Drehe(winkel)</code> und <code>DreheZuRichtung(himmelsrichtung)</code></li>
          </ul>
          
          <% if (user.level >= 2) { %>
            
            <h3>Stufe 2</h3>
          
            <ul>
              <li>Interaktion mit Nahrungsmitteln: <code>NimmZucker()</code>, <code>LadeZuckerAb()</code> und <code>TrageApfel()</code></li>
              <li>Rückkehr zum Bau mit <code>GeheZuBau()</code></li>
              <li>Teamdefinition: <code>Ameise.SetzeTeams(anzahl)</code></li>
              <li>Bedingte Anweisungen pro Team mit <code>if (InTeam(nummer)) {   }</code></li>
              <li>Tastenkominationen während Simulation: 1/2/3 für Geschwindigkeit, G für Gitternetz</li>
            </ul>
            
          <% } %>
          
          <% if (user.level >= 3) { %>
            
            <h3>Stufe 3</h3>
          
            <ul>
              <li>Schleifen programmieren mit dem Ereignis <code>"IstUntätig"</code></li>
              <li>Sichtung von Nahrungsmitteln mit <code>"SiehtZucker"</code> und <code>"SiehtZucker"</code>, jeweils mit zusätzlichen Parameter für Sichtungsobjekt</li>
              <li>Zum Sichtungsobjekt gehen mit <code>GeheZuZiel(objekt)</code></li>
              <li>Befehlsvarianten ohne Sichtung: <code>GeheZuBauDirekt()</code> und <code>GeheZuZielDirekt(objekt)</code></li>
              <li>Reichweite der Ameisen auf 3000 Schritte begrenzt, zurücksetzbar im Bau</li>
              <li>Auf Rand reagieren mit Ereignis <code>"RandErreicht"</code></li>
            </ul>
            
          <% } %>
          
          <% if (user.level >= 4) { %>
            
            <h3>Stufe 4</h3>
          
            <ul>
              <li><code>SetzeGift()</code></li>
              <li><code>"SiehtWanze"</code></li>
              <li><code>"SiehWanzeVoraus"</code></li>
              <li><code>"SiehtGegner"</code></li>
              <li><code>Ameise.SetzeTeamFolge(nr1, nr2, nr3, ...)</code></li>
              <li><code>Warte(ticks)</code></li>
              <li><code>Zufall(von, bis)</code></li>
              <li><code>FühreAlteBefehleAus()</code></li>
              <li>Syntax-Checker</li>
            </ul>
            
          <% } %>
          
          <% if (user.level >= 5) { %>
            
            <h3>Stufe 5</h3>
          
            <ul>
              <li><code>SendeNachricht(betreff, info)</code></li>
              <li><code>"SetzeLimit()"</code></li>
              <li><code>SchrittZahl</code></li>
              <li><code>TickZahl</code></li>
              <li><code>DreheZuObjekt()</code></li>
              <li><code>DreheWegVonObjekt()</code></li>
              <li>Arena</li>
              <li>Freigabe</li>
              <li>Todesursache anzeigen</li>
            </ul>
            
          <% } %>
          
        </div>
      </div>
	    
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
 
