<% if (user.level == 1) { %>
	    
  <br><br>
  <h3>Willkommen <%=user.displayName%>!</h3>

  <div style="margin-bottom:120px;">
    <p>Du befindest dich gerade im Dorfzentrum. Hier wirst du neue Ameisenvölker erstellen und diese programmieren.
    </p>
    <p>In der Bibliothek findest du Anleitungen, die dir alle Einzelheiten der Programmierung erklären. Der blaue Kreis zeigt an, wie viele neue Tutorials noch zu bearbeiten sind.
    </p>
    <p>Auf dem Trainigsplatz kannst du deine Fähigkeiten unter Beweis stellen. Löse Aufgaben und steige in den Stufen auf. Dann werden dir neue Funktionen freigeschalten.
    </p>
    <p>Beginne in der Bibliothek mit dem ersten Tutorial. Viel Spaß!
    </p>
  </div>

<% } %> 
