<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/startseite.png);background-position: center top;background-repeat:no-repeat">
      </div>
	
	    <% include menu %>
	    
	    
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
        
          <br>
        
          <% include greetings %>
          
          <hr>
          Benutzer: <%=user.displayName%> | Stufe: <%=user.level%> | Kolonie: <%=colonyInfo%><br>
  
          <%if (user.superuser) {%>
            <br><p>[Administrator]</p>
            
            <a href="/users" class="btn btn-sm btn-outline-success">Benutzerverwaltung</a>
            <a href="/stats" class="btn btn-sm btn-outline-primary">Statistik</a>
            <a href="/overview" class="btn btn-sm btn-outline-primary">Fortschritt</a>
            <% if (competitionDone) { %>
              <a href="/competitionUndone"  class="btn btn-sm btn-outline-warning">Wettbewerb zurückschalten (aktuell frei)</a>
            <% } else { %>
              <a href="/competitionDone"  class="btn btn-sm btn-outline-warning">Wettbewerb fertigschalten (aktuell gesperrt)</a>
            <% } %>
          <% } // endif superuser %>
        </div>
      </div>
	    
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
 
