<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron" style="background-image: url(/deco/startseite.png);background-position: center top;background-repeat:no-repeat">
      </div>
	
	    <% include menu %>
	    
	    
	    <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
        
          <br>
          <h2>FAQ</h2>
          <hr>
          
          <p><strong>Kann man eine Bedingung für mehrere Teams gleichzeitig schreiben?</strong><br>
            Ja, z.B. mit InTeam(0,1,2). Diese Bedingung gilt dann für die Teams 0, 1 und 2.
          </p>
          
        </div>
      </div>
	    
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
 
