<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Aufgaben</h1>
      </div>
	
	    <% include menu %>
      
      <div class="page-header">
	        <h3>Herzlichen Glückwunsch!</h3>
      </div>
      
       <div class="row">
	        <div class="col-md-2"></div>
	        <div class="col-md-8">
	          <img src="/deco/aufstieg.png"></img>
	          <h4>Du hast jetzt die Stufe <%=user.level%> erreicht.</h4>
	          <p><a href="/level">OK</a></p>
	        </div>
	        <div class="col-md-2"></div>
	      </div>
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
