<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron"><h1>Herzlichen Glückwunsch!</h1>
      </div>
	
	    <% include menu %>
      
      <br>
      
      <div class = "row justify-content-center">
        <div class="col-sm-12" style="max-width:850px">
          <br>
          <div class="d-flex">
            <div><h2>Du hast jetzt die Stufe <%=user.level%> erreicht.</h2></div>
            <div class="ml-auto"><a href="/home" class="btn btn-sm btn-success">OK, weiter gehts ...</a></div>
          </div>
          <br>
          <img src="/deco/aufstieg.png" class="img-thumbnail"></img>
        </div>
      </div>
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
