<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../commonHead %>
  </head>
  <body>

    <div class="container">
    
      <div style="height:200px"></div>
      
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <%if(fail == "1"){%>
            <div class="alert alert-danger" role="alert"><strong>Anmeldung gescheitert!</strong> Überprüfe bitte Benutzername und Passwort.</div>
          <%}%>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">AntIT! Login</h2>
            </div>
            <div class="panel-body">
              <p><%=description%></p>
              <form action="<%=prefix%>/login" method="post">
                <div class="form-group">
                  <label for="startup" class="control-label">Benutzername:</label>
                  <input id="startup" type="text" class="form-control" name="username"/><br>
                  <label for="pw" class="control-label">Passwort:</label>
                  <input type="password" id="pw" class="form-control" name="password"/><br>
                  <input type="submit" value="Anmelden" class="btn btn-primary"/>
                </div>
              </form>
              <p class="text-right"><a href="/">Mehr Informationen</a></p>
            </div>                
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <script>
        document.getElementById("startup").focus();
      </script>
      
      <div style="height:300px"></div>
    </div>
  </body>
</html>
