<!DOCTYPE html>
<html lang="de">
  <head>
    <% include ../include/commonHead %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h1>Wettbewerb</h1>
	    </div>
	    
	    <% include menu %>
	    
	    <!-- Here comes the content -->    
	    
	    <p>Hier kommt auch mal was hin.</p>
	    
      <div style="height:300px"></div>
	    
    </div>
  </body>
</html>
